<?php
return [
    'class' => 'yii\swiftmailer\Mailer',
    'transport' => [
        'class' => 'Swift_SmtpTransport',
        'host' => 'smtp.gmail.com',
        'username' => 'yii2starter@gmail.com',
        'password' => '123456qw',
        'port' => '587',
        'encryption' => 'tls',
    ],
];
